.moviedetailspage {
  height: auto;
  /* width: 100%; */
  width: auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #324e4e;
  color: aliceblue;
  margin: 0 auto;
  letter-spacing: 2px;
}

.moviedetailspage > div {
  height: 450px;
  width: 100%;
  margin: 0 auto;
}

.moviedetailspage_content {
  padding: 20px 0;
}

.moviedetailspage_title {
  font-size: 18px;
  font-weight: 600;
}

.moviedetailspage_desc {
  width: 750px;
  font-size: 20px;
  /* font-weight: 600; */
  width: fit-content;
}

.moviedetailspage_lang,
.moviedetailspage_rating,
.moviedetailspage_status,
.moviedetailspage_tagline {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
}
.moviedetailspage_releaseDate {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
}

/* *********************** Media Queries ************************* */

@media only screen and (max-width: 450px) {
  .moviedetailspage {
    width: auto;
  }

  .moviedetailspage_title {
    font-size: 14px;
  }

  .moviedetailspage_desc {
    font-size: 16px;
    width: fit-content;
  }

  .moviedetailspage_lang,
  .moviedetailspage_rating,
  .moviedetailspage_status,
  .moviedetailspage_tagline {
    font-size: 16px;
  }
  .moviedetailspage_releaseDate {
    font-size: 14px;
  }
}

@media only screen and (min-width: 451px) and (max-width: 600px) {
  .moviedetailspage {
    width: auto;
  }

  .moviedetailspage_desc {
    font-size: 16px;
    width: fit-content;
  }
  .moviedetailspage_title {
    font-size: 16px;
    font-weight: 600;
  }

  .moviedetailspage_lang,
  .moviedetailspage_rating,
  .moviedetailspage_status,
  .moviedetailspage_tagline {
    font-size: 16px;
  }

  .moviedetailspage_releaseDate {
    font-size: 16px;
  }
}
