.movieCover_container {
  margin: 0 auto;
  width: 100%;
  /* max-width: 1200px; */
  color: white;
}

.movieCover_container > div {
  margin: 0 auto;
  width: 100%;
  height: 450px;
  /* max-width: 1100px; */
  /* text-align: center; */
  position: relative;
  display: flex;
  overflow: hidden;
}

header {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  color: white;
  background-repeat: no-repeat;
  opacity: 0;
  position: absolute;
}

.movieCover_content {
  /* width: 100%; */
  padding-top: 150px;
  margin-left: 140px;
  height: 200px;
}

.movieCover_title {
  font-size: 2.5rem;
  padding-bottom: 0.3rem;
}

.movieCover_description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 350px;
  height: 90px;
}

.movieCover_button {
  color: white;
  background-color: rgba(51, 51, 51, 0.5);
  padding: 5px 20px;
  margin-right: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

.movieCover_button:hover {
  color: black;
  background-color: white;
}

.movieCover_fadeBottom {
  margin-left: -140px;
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.51),
    #111
  );
}

.prevArrow {
  position: absolute;
  padding: 10px;
  background-color: white !important;
  color: black;
  top: 40%;
  left: 10px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
.nextArrow {
  position: absolute;
  padding: 10px;
  background-color: white !important;
  color: black;
  top: 40%;
  right: 10px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.arrowButton:hover {
  background-color: rgb(158, 154, 154) !important;
  color: white;
}

header.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
header.lastSlide {
  transform: translateX(-100%);
}
header.nextSlide {
  transform: translateX(100%);
}

/* ****************************** Media Queries ******************************** */

@media only screen and (max-width: 600px) {
  header {
    object-fit: fill;
  }
  .movieCover_content {
    margin-left: 40px;
    height: 200px;
  }

  .movieCover_title {
    font-size: 2rem;
    padding-bottom: 0.3rem;
  }

  .movieCover_description {
    width: 20rem;
  }
}
