.movieCard {
  display: flex;
  flex-direction: column;
}

.movieCard_img {
  top: 10px;
  object-fit: contain;
  /* width: 250px; */
  max-height: 180px;
  margin-right: 15px;
  transition: transform 450ms;
  cursor: pointer;
  z-index: 1;
}

.movieCard_hide {
  transform: translateY(-100px);
  display: none;
}

.movieCard_show {
  transform: translateY(-40px);
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: sticky;
  max-width: 300px;
  min-height: fit-content;
  /* background-color: #324e4e; */
  background-color: #00001a;
  padding: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: ease-in-out 3s;
}

.movieCard_title {
  font-weight: 700;
  margin-bottom: 5px;
  letter-spacing: 2px;
}

.movieCard_overview {
  font-weight: 400;
  margin-bottom: 5px;
  letter-spacing: 2px;
}

.movieCard_rating {
  font-weight: 800;
  margin-bottom: 5px;
  letter-spacing: 2px;
}
