.movieRow {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.movieRow_posters {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 20px;
}

.movieRow_posters > a {
  text-decoration: none;
  display: flex;
}

.movieRow_posters::-webkit-scrollbar {
  display: none;
}

.movieRow_poster {
  object-fit: contain;
  width: 100%;
  max-height: 180px;
  margin-right: 10px;
  transition: transform 450ms;
  cursor: pointer;
}

.movieRow_poster:hover {
  transform: scale(1.08);
}

.movieRow_posterLarge {
  max-height: 250px;
}

.movieRow_posterLarge:hover {
  transform: scale(1.12);
}

.movieRow_arrowLeftIcon {
  height: 100px !important;
  position: sticky;
  left: -10px;
  padding: 5px;
  background-color: #e6e6e6;
  color: black;
  font-weight: 600;
  cursor: pointer;
  margin-top: -5px;
  z-index: 10;
  transition: transform 1000ms;
}

.movieRow_arrowLeftIcon:active {
  transform: translateX(-20%);
}

.movieRow_arrowRightIcon {
  height: 100px !important;
  position: sticky;
  right: -10px;
  padding: 5px;
  background-color: #e6e6e6;
  color: black;
  cursor: pointer;
  margin-top: -5px;
  z-index: 10;
  transition: transform 1000ms;
}

.movieRow_arrowRightIcon:active {
  transform: translateX(20%);
}
