.moviedetailspage {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #324e4e;
  color: aliceblue;
  margin: 0 auto;
  letter-spacing: 2px;
}

.moviedetailspage > div {
  height: 450px;
  width: 100%;
  margin: 0 auto;
}

.moviedetailspage_content {
  padding: 20px 0;
}

.moviedetailspage_title {
  font-size: 18px;
  font-weight: 600;
}

.moviedetailspage_desc {
  width: 750px;
  font-size: 20px;
  font-weight: 600;
}

.moviedetailspage_lang,
.moviedetailspage_rating,
.moviedetailspage_status,
.moviedetailspage_tagline {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
}
.moviedetailspage_releaseDate {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
}

/* *********************** Media Queries ************************* */

@media only screen and (max-width: 450px) {
  .moviedetailspage_content {
    height: max-content;
    max-width: 500px;
    margin: auto;
  }
  .moviedetailspage_desc {
    max-width: 350px;
    margin: auto;
  }
}

@media (min-width: 451px) and (max-width: 600px) {
  .moviedetailspage_content {
    height: auto;
    max-width: 750px;
    margin: auto;
  }
  .moviedetailspage_desc {
    max-width: 400px;
    margin: auto;
  }
}
