.movieRow {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.movieRow > h1 {
  margin-top: 10px;
}

.movieRow_posters {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  /* padding: 20px; */
}

.movieRow_posters::-webkit-scrollbar {
  display: none;
}

.movieRow_images {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  padding: 20px;
}

.movieRow_images::-webkit-scrollbar {
  display: none;
}

.movieRow_arrowLeftIcon {
  height: 100px !important;
  position: sticky;
  top: 20%;
  left: -10px;
  padding: 5px;
  background-color: #e6e6e6;
  color: black;
  font-weight: 600;
  cursor: pointer;
  margin-top: -5px;
  z-index: 10;
}

.movieRow_arrowRightIcon {
  height: 100px !important;
  top: 20%;
  position: sticky;
  right: -10px;
  padding: 5px;
  background-color: #e6e6e6;
  color: black;
  cursor: pointer;
  margin-top: -5px;
  z-index: 10;
}

/* ************************ Media Queries ************************* */

@media only screen and (max-width: 600px) {
  .movieRow_arrowLeftIcon,
  .movieRow_arrowRightIcon {
    display: none !important;
  }
}
