.navbar {
  /* height: 30px; */
  display: flex;
  justify-content: space-between;
  background-color: #111;
}

.navbar_logo {
  width: 150px;
  object-fit: contain;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 12;
}
