.recommendations {
  display: flex;
  flex-direction: column;
}

.recommendation_movies {
  display: flex;
  margin-top: 15px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.recommendation_movies::-webkit-scrollbar {
  display: none;
}
